{% extends "base.html" %}
{% block title %}
Сохранение файла
{% endblock %}
{% block content %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Файлы в Озере данных</h1>
        <h4 class="h3 mb-0 text-gray-400">нажмите на иконку для сохранения</h4>
    </div>

            {% for item in result%}
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-primary-800 font-weight-bold text-primary text-uppercase mb-1">
                                    {{ item }}
                                </div>

                            </div>
                            <div class="col-auto">
                                <a class="fas fa-download fa-2x text-gray-300" href="{{ url_for('main.download_file',filename=item) }}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

{% endblock %}