{% extends "base.html" %}
{% block title %}
Search
{% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Search</h1>
</div>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="post" action="search_tags">
        <div class="form-group">
            <input type="text" class="form-control  bg-light border-0 small" placeholder="Search for..." name="search_str">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm">
                    </i>
                </button>
            </div>
        </div>
    </form>
    {% for item in result%}

    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-primary-800 font-weight-bold text-primary text-uppercase mb-1">
                        {{ item['file'] }}
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-400">
                    tags:
                        {%  for tag in item['tags'] %}
                            {{ tag }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}