{% extends "base.html" %}
{% block title %}
Загрузка файла
{% endblock %}
{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Загрузка файла в Озеро Данных</h1>
</div>
    <form method="post"action="upload" enctype="multipart/form-data">
        <p>
            <input class="form-control" type="file" name="file">
        </p>
        <div class="h6 font-weight-bold text-gray-400">
            Дополнительные теги файла
        </div>

        <p>
            <input type="text" name="add_tags">
        </p>
        <p>
            <input type="submit" value="Загрузить" >
        </p>
    </form>
{% endblock %}